body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-weight: 700;
}
button{
    min-height: 50px;
    min-width: 50px;
    background-color: bisque;
    border: none;
    color: #000;
}
.counter{
    margin: 0 20px;
    font-size: large;
}