*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.2rem;
}

body{
  background-color: #444;
}

img{
  width: 100%;

}

section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 0.5rem;
}