*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.2rem;
}

body{
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.password-generator{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.generated-password-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  background-color: #858282;
  padding: 10px;
  border-radius: 5px;
  min-width: 320px;
}

.generated-password-container p{
  color: #ccc
}

article{
  display: flex;
  justify-content: space-between;
}

article label{
  margin-right: 20px;
  /* padding-right: 100%; */
}
button{
  color: #000;
  font-size: 0.9rem;
}

input{
  color: #000
}

.copy-btn{
  fill: #dddddd9c;
  cursor: pointer;
  transition: 0.2s ease;
}

.copy-btn:hover{
  fill: #fff;
}