*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 2rem;
}

body{
  background-color: #000;
}

code{
  font-family: source-code-pro;
}

.p{
  line-height: 1.8;
  font-size: 1rem;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* padding: 1rem ; */

}

.markdown{
  border-right: 3px solid #fff;
  height: 100vh;

  padding: 1rem;
}

.preview{
  padding: 1rem;
}

textarea{
  width: 100%;
  height: 100%;
  background-color: #000;
  font-size: 1.4rem;
  outline: none;
  border: none;
}